body {
    background-color: rgb(223, 255, 218);
    font-family: 'Myriad Pro';
}

.nav-web {
    margin-left: 60%;
    font-weight: bold;
}

@media (max-width:576px) {
    .nav-web {
        margin-left: 0;
    }
}

@media (max-width:768px) {
    .nav-web {
        margin-left: 0;
    }
}

@media (max-width:992px) {
    .nav-web {
        margin-left: 0;
    }
}


.navbar-web {
    font-family: 'Myriad Pro';
}

.font-logo {
    font-weight: bold;
    font-size: 18pt;
}

.btn-auth {
    font-weight: bold;
    display: flex;
}

.btn-login button {
    border-radius: 15px;
    padding: 3px 15px;
    font-weight: bold;
    color: black;
    border-color: rgb(57, 181, 74);
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 5px 0 rgba(0, 0, 0, 0.05);
}

.btn-login:hover button {
    border-radius: 15px;
    box-sizing: border-box;
    padding: 3px 15px;
    font-weight: bold;
    border-color: rgb(0, 0, 0);
    color: rgb(245, 247, 246);
    background-image: linear-gradient(to right, rgb(169, 255, 181), rgb(57, 181, 74));
    box-shadow: 4px 5px 0 rgba(0, 0, 0, 0.05);
}


.btn-signup button {
    border-radius: 15px;
    padding: 3px 23px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, rgb(57, 181, 74), rgb(169, 255, 181));
    box-shadow: 4px 5px 0 rgba(0, 0, 0, 0.05);
}

.btn-signup:hover button {
    border-radius: 15px;
    padding: 3px 23px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(169, 255, 181));
    box-shadow: 4px 5px 0 rgba(0, 0, 0, 0.05);
}

.content {
    margin: 100px 0;
    box-sizing: border-box;
}

.content h5 {
    font-family: 'Comicy';
    font-size: 40px;
    font-weight: bold;

}

.content h4 {
    font-family: 'Candy Beans';
    font-weight: bold;

}

.home-img img {
    width: 50%;
    height: 80%;
    position: relative;
    left: 20%;
}

.text-muted {
    position: absolute;
    left: 4%;
}

.btn-closes button {
    border-radius: 15px;
    margin-right: 4px;
    padding: 3px 15px;
    font-weight: bold;
    color: black;
    border-color: rgb(0, 0, 0);
    background-color: rgb(139, 143, 139);
    box-shadow: 4px 5px 0 rgba(0, 0, 0, 0.05);
}

.btn-signup1 button {
    border-radius: 15px;
    margin-right: 4px;
    padding: 3px 15px;
    font-weight: bold;
    color: black;
    border-color: rgb(139, 143, 139);
    background-color: rgb(99, 219, 99);
    box-shadow: 4px 5px 0 rgba(0, 0, 0, 0.05);
}
